.fotoContact {
background-position: center;
background-image: url('https://images.pexels.com/photos/2956143/pexels-photo-2956143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-size: cover;  
height: 100vh;
}

.headingContact {
display: flex;
justify-content: center;
}

.blockContact {
display: flex;
justify-content: space-around;
margin-bottom: 25px;
flex-wrap: wrap;
}

.allContactTwo {
width: 50%;
background-color: rgba(226, 226, 226, 0.7); 
color:#343A40;
font-family: 'Bebas Neue', cursive;
padding: 10px;
margin-top: 4%;
text-align: center;
font-size: 20px;
}

.fonDivContact {
display: flex;
justify-content: center;
}

.textP {
color:#343A40;
font-family: 'Bebas Neue', cursive;
}